.items{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    .item{
        min-height: 750px;
        width: 40%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: #4b4b4b;
        border-radius: 25px;
        h1{
            color: whitesmoke;
            font-family: monospace;

        }
        img{
            width: 91%;
            border-radius: 20px;
        }
        p{
            text-align: justify;
            font-size: 15px;
            line-height: 25px;
            width: 90%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight:500;
            color: whitesmoke;
             display: -webkit-box;
            -webkit-box-orient: vertical;
             box-orient: vertical;
             -webkit-line-clamp: 8;
             line-clamp: 8;
             overflow: hidden;
        }
        a{
            text-decoration: none;
            text-transform: capitalize;
            padding: 10px;
            transition: 200ms;
            color: whitesmoke;
            border-radius: 10px;
            font-family: monospace;
            &:hover{
                background-color: #2b2b2b;
            
            }
        }
    }
}